uvicorn==0.27.0
langgraph==0.0.22
pandas==2.2.1
sentence-transformers==2.7.0
python-multipart==0.0.6
pydantic==2.6.4
langchain
python-dotenv

langchain_community

faiss-cpu
fastapi
langserve

pymupdf

langchain_huggingface
pypdf

langchain-groq
pydantic-settings
